/// @param amount The amount of tokens
# Configuration reference
BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
PRIVATE_KEY=your_private_key_here
// @notice public view function
ETHERSCAN_API_KEY=your_etherscan_api_key
